.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0);
    overflow: hidden; }



    /* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
max-width: 768px;}
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px; 
    padding: 0 15px; }
    }

    /* header */

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-nav{
    display: none;
}

.contacts{
    display: none;
}

.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }


.header-logo{
padding: 16px 0;
display: block;
       
}

.header-logo .logo-part{
color: #2e2f42;
}    
    
.burger-btn{
padding: 0;
border: none;
background-color: transparent;
}

.burger-icon{
display: block;
fill: #2f2f37;
}
@media screen and (min-width: 768px) {
.burger-btn{
display: none;
}

        
.list-nav{
display: flex;
align-items: center;
gap: 40px;    
}

.contacts {
font-style: normal;
display: block;
}

.contacts-list{
    display:flex;
    flex-direction: column;
    gap: 12px;
    }
.contacts-link{
    display: block; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.header-nav{
display: flex;
align-items: center;
}        
    
      

.header-logo{
padding: 24px 0;
margin-right: 120px;
}
    
.nav-link{
display: block;    
padding: 24px 0;    
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}
.nav-link.current{
position: relative;
}
.nav-link.current::after{
content:'' ;
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404bbf;
}
}           

@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }

.contacts-list{

align-items: center;
flex-direction: row;
gap: 40px;
}

.contacts-link{

padding: 24px 0;    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

}

/*main*/

/*section solution*/



.solution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-mobile.jpg);
    max-width: 320px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
}
@media screen and (max-width:767px) and (min-resolution:192dpi) {
   .solution{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-2x.jpg);
   } 
}

.solution-text {                                                                                                                                                                                                         
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    align-items: center;
    max-width: 216px;
    }


.solution-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
letter-spacing: 0.04em;
color: #fff;
margin-top: 72px;
text-align: center;
margin-left: auto;
margin-right: auto;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
border: none;

}

.solution-container{
    display: block;
    align-items: center;
}

@media screen and (min-width: 768px) {

.solution-container{
    max-width: 768px;
    display: block;
    align-items: center;
}

.solution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-tablet.jpg);
  
    min-width: 768px;
   
    padding: 112px 0;
    margin: 0 auto;
}
@media screen and (min-width:768px) and (min-resolution: 192dpi) {
    .solution{
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-tablet-2x.jpg);
}
}
.solution-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    align-items: center;
    max-width: 496px;
    }
    
    .solution-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    }

    .solution-button:hover,
    .solution-button:focus {
        background-color: #404BBF;
    }
}


@media screen and (min-width: 1158px) {

.solution-container{
    
    
    display: block;
    
    
    
}
.solution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg);
    max-width: 1440px;
    height: 600px;
    padding-top: 188px ;
    padding-bottom: 188px;
    
}

@media screen and (min-width:1158px) and (min-resolution:192dpi) {
    .solution{
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office\ desktop-2x.jpg);
    } 
 }

.solution-text {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin: 0 auto;
align-items: center;
max-width: 496px;
}

.solution-button {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
letter-spacing: 0.04em;
color: #fff;

text-align: center;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
border: none;
}
.solution-button:hover,
.solution-button:focus {
    background-color: #404BBF;
}
}

/*section-2 advantages*/

.section{
 
    min-width: 320px;
    padding: 96px 16px;
    
  
}

.list-advant{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    }
.icons {
    display: none;
}

.advant-items{

    width: 100%; 
    display: block;
    align-items: center;
    }

.head-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.par-spec {   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px){
.section{
 
    min-width: 768px;
    padding: 96px 16px;
    
  
}

.list-advant{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin: 0;
    }
.icons {
    display: none;
}

.advant-items{

    width: calc((100% - 24px)/2);
    

    }

.head-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.par-spec {   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 1158px){
.section{    
    padding: 120px 0 ;
   
}
.container-advant {
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto;  
}


.list-advant{
    display: flex;
    
    
    gap: 24px;
    }
    .advant-items{
    width: calc((100% - 72px) / 4); 
    }
    
    .container-team {
       text-align: center;
        }

    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
    
    
    }
    .head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
    .par-spec {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
}

/*section3_team*/

.section_2{
    min-width: 320px;
    background-color: #f4f4fd; 
      
}
.container-team {
   text-align: center;
    }
.head-two {
text-transform: capitalize;    
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.head-three {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.discr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

padding: 32px 0 ;


}
.team-list {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);    
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 428px;    
}

.icons-list{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 24px; 
margin-top: 8px;
padding: 0 16px;  
}
.icons-spec{    
width: 40px;
height: 40px;

}
.icon-spec{
background-color: #4d5ae5;
width: 100%;
height: 100%;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-spec:hover,
.icon-spec:focus {
background-color:  #404bbf;
}
.icon-svg{
    fill: #f4f4fd;
}




@media screen and (min-width: 768px){
.section_2{
    
    background-color: #f4f4fd; 
      
}
.container-team {
    width: 584px;
   text-align: center;
    }
.head-two {
text-transform: capitalize;    
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.head-three {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.discr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

padding: 32px 0 ;


}
.team-list {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);    
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 428px;    
}

.icons-list{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 24px; 
margin-top: 8px;
padding: 0 16px;  
}
.icons-spec{    
width: 40px;
height: 40px;

}
.icon-spec{
background-color: #4d5ae5;
width: 100%;
height: 100%;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-spec:hover,
.icon-spec:focus {
background-color:  #404bbf;
}
.icon-svg{
    fill: #f4f4fd;
}
}

@media screen and (min-width: 1158px){

    .section_2{
        
        background-color: #f4f4fd;
        padding: 120px 0 ;
    }
    
    
    .container container-advant{
        
        margin: 0 auto; 
    }
    
    
    
.container-team {
min-width: 1158px;       
text-align: center;
}

.list-advant{
display: flex;
gap: 24px;
}

.advant-items{
width: calc((100% - 72px) / 4); 
}
    
.head-two {
    text-transform: capitalize;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    }
    .head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
    .par-spec {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .discr{
    padding: 32px 0 ;
    
    
    }
    .team-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);    
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;    
    }
    
    .icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;   
    }
    .icons-spec{    
    width: 40px;
    height: 40px;
    
    }
    .icon-spec{
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon-spec:hover,
    .icon-spec:focus {
    background-color:  #404bbf;
    }
    .icon-svg{
        fill: #f4f4fd;
    }
}


/*section-4-portfolio*/

.section{
    min-width: 320px;
    padding: 96px 16px ;
   
}
.container-portfolio{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;

    
    
}

.list-port{
    column-gap: 24px;
    row-gap: 48px;
    

}
.port-list {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay{
    position: relative;
    overflow: hidden;
}
.text-overlay{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.port-list:hover .text-overlay {
    transform: translateY(0%);
}
.port-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.port-list {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
       

.port-example{
padding: 32px 16px;

border: 1px solid #e7e9fc;
border-top: none ;

}
.head-two {
    text-transform: capitalize;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
    .par-spec {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }


@media  and (min-width: 768px) {

.section{

    padding: 96px 0 ;
    
   
}

.container-portfolio{
max-width: 736px;
display: flex;



.list-port{

column-gap: 24px;
row-gap: 48px;

}
.port-list {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay{
    position: relative;
    overflow: hidden;
}
.text-overlay{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.port-list:hover .text-overlay {
    transform: translateY(0%);
}
.port-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.port-list {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
       

.port-example{
padding: 32px 16px;

border: 1px solid #e7e9fc;
border-top: none ;

}
.head-two {
    text-transform: capitalize;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
    .par-spec {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

}

@media screen and (min-width: 1158px) {

.section{
    min-width: 1158px;
    padding: 120px 0 ;
   
}

.list-port{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}
.port-list {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay{
    position: relative;
    overflow: hidden;
}
.text-overlay{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.port-list:hover .text-overlay {
    transform: translateY(0%);
}
.port-list{
    calc ((100% - 48px)/3)
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.port-list:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
       

.port-example{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none ;

}
.head-two {
    text-transform: capitalize;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
    .par-spec {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    
}